.query-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
  list-style: none;
}

.query-results button {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #3d444d;
  border-radius: 0.375rem;
}

.query-results button:hover {
  background: #656c7633;
}

.query-results img {
  margin-top: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.query-results header {
  display: flex;
  gap: 0.25rem;
}

.query-results h1 {
  font-size: 1rem;
  font-weight: 600;
  color: #4493f8;
}

.query-results h2 {
  font-size: 1rem;
  font-weight: 300;
  color: #9198a1;
}

.query-results p {
  margin: 0.5rem 0 0.75rem;
  font-size: 0.875rem;
  text-align: left;
}

.query-results footer {
  display: flex;
  align-items: center;
  color: #9198a1;
  font-size: 0.75rem;
  text-align: left;
}

.query-results footer span {
  margin: 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #9198a1;
}

.query-results footer svg {
  margin-right: 0.375rem;
  fill: #9198a1;
}
