.markdown-body + h1 {
  margin-top: 1.5rem;
}

h1:has(+.user-repositories) {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.user-repositories {
  width: 56rem;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.5rem));
  grid-auto-rows: min-content;
  gap: 1rem;
}

.repository-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #3d444d;
  border-radius: 0.375rem;
}

.repository-card header svg {
  margin-right: 0.4rem;
  fill: #9198a1;
}

.repository-card header a {
  display: inline;
  font-size: 0.875rem;
  overflow-wrap: break-word;
  text-decoration: none;
  color: #4493f8;
}

.repository-card header a:hover {
  text-decoration: underline;
}

.repository-card header .visibility {
  margin-left: 0.4rem;
  padding: 0.12rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #9198a1;
  border: 1px solid #3d444d;
  border-radius: 2rem;
}

.repository-card p {
  flex-grow: 1;
  margin: 0.5rem 0;
  height: max-content;
  font-size: 0.75rem;
  overflow-wrap: break-word;
  color: #9198a1;
}

.repository-card footer {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  color: #9198a1;
}

.repository-card footer .circle {
  margin-right: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  background: #9198a1;
  border-radius: 50%;
}

.repository-card footer svg {
  margin-left: 1rem;
  margin-right: 0.25rem;
  fill: #9198a1
}

.remaining-repositories {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remaining-repositories a {
  color: #4493f8;
}